body {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .previous,
.slides-navigation .next {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.previous {
    left: 20px;
    background-image: url('../images/icons/previous.png');
}

.slides-navigation a.next {
    right: 20px;
    background-image: url('../images/icons/next.png');
}

.title-message {
    width: 100%;
    height: 250px;
    z-index: 5;
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -90px;
}

.title-message .heading .main {
    color: #DEECFF;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
    font-size: 50px;
}

.sub {
    color: #DEECFF;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 4px;
    font-size: 23px;
}

.section {
    padding: 100px 0;
}

.aboutImage {
    max-width: 100%;
}

.aboutSection,
.skillsSection,
.contactSection,
.educationSection  {
    background-color: #DEECFF;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: '#000';
    line-height: 152px;
    display: inline-block;
    font-size: 25px;
}

.chart .percent:after {
    content: '%';
}

.skill-title {
    margin-top: 15px;
}

.social-links {
    font-size: 40px;
}

.social-icon {
    margin: 10px;
    color: #35477D
}

.social-icon:hover {
    margin: 10px;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.filter a {
    color: #C6CFFF;
    border: 1px solid #C6CFFF;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #35477D;
    border-color: #35477D;
    color: #fff;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.itemsContainer {
    width: 100%;
}

.items .portfolio-icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.pi {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #35477D;
    display: inline-block;
    position: relative;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute; 
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.copyright {
    margin: 30px 5px;
    font-size: 10px; 
}

#navigation {
    background-color: #fff;
    padding: 17px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 20px;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: #C6CFFF;
}

.navbar-brand, 
.navbar-brand:hover {
    color: #35477D;
    padding: 0 20px;
    font-weight: 500;
}

.navbar-toggler-icon {
    color: #35477D;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
}

.jobSkill, 
.activitySkill,
.eduSkill {
    color: #35477D;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.jobSkill,
.activitySkill {
    border: 1px solid #C6CFFF;
}

.eduSkill {
    border: 1px solid #35477D;
}

.jobIcon,
.activityIcon,
.eduIcon {
    width: 100%;
}

.jobCompany,
.activityPosition,
.eduDegree {
    font-style: italic;
}

.jobList,
.courseworkList,
.eduList,
.activityList {
    list-style-type: circle;
}

.eduSubheader {
    font-weight: bold;
    color: #35477D;
}

.date,
.location {
    font-weight: 300;
}

table {
    width: 100%;
}

th, td {
    padding: 0 15px;
    text-align: left;
    vertical-align: top;
}