/* COLOUR SCHEME */
/* black: #333333 */
/* white: #ffffff */
/* grey: #4C5364 */
/* grey blue: #A2BBDD */
/* dark blue: #485C82 */
/* blue: #4A6FA5 */
/* mid blue: #B5CAE2 */
/* light blue: #D3E3FC */

/* FONT STYLE */
/* headers, navigation: Karla */
/* body: Lato */

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    color: #333333;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

/* NAVIGATION SETTINGS */
#navigation {
    background-color: #ffffff;
    padding: 16px 20px;
    z-index: 100;
    width: 100%;
    font-family: 'Karla', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* valarylim brand name */
.navbar-brand, 
.navbar-brand:hover {
    color: #333333;
    padding: 0 20px;
    font-size: 16px;
}

/* navigation links */
#navigation li {
    padding: 0 20px;
}

.nav-link {
    color: #4C5364;
}

.nav-link:hover {
    color: #4A6FA5;
}

/* fix navigation to the top of page */
.fixedNav #navigation {
    position: fixed;
    top: 0;
}

/* HEADER */
img#headerImage {
    width: 100%;
}

/* SECTIONS (GENERAL) */
.section {
    padding: 50px 0;
}

/* SECTIONS - ABOUT */
.aboutSection {
    background-color: #4A6FA5;
    padding: 70px;
}

#code {
    border-radius: 5px;
    width:700px;
    margin: 0 auto;
    padding-top:15px;
    font-size:30px;
    background: #ccc;
    height: 350px;
    text-align: left;
    font-family: 'Inconsolata', monospace;
    font-size:13px;
    color: #fafafa;
 }
    
#console {
    width: 700px;
    padding: 60px 80px;
    height: 350px;
    margin: 0 auto;
    background: #383737;
}

.jsonDetails {
    padding-left: 40px;
}

.jsonDetails a {
    color: #2A9DF4
}



.skill-title {
    margin-top: 15px;
}

.social-links {
    font-size: 40px;
}

.social-icon {
    margin: 10px;
    color: #485C82
}

.social-icon:hover {
    margin: 10px;
    color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.filter a {
    color: #C6CFFF;
    border: 1px solid #C6CFFF;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #485C82;
    border-color: #485C82;
    color: #fff;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.items li img {
    width: 100%;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.itemsContainer {
    width: 100%;
}

.items .portfolio-icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.pi {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #35477D;
    display: inline-block;
    position: relative;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute; 
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.copyright {
    margin: 30px 5px;
    font-size: 10px; 
}

.jobSkill, 
.activitySkill,
.eduSkill {
    color: #35477D;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: auto;
    display: inline-block;
    font-size: 11px;
    line-height: 1.33333em;
    padding: 7px 18px;
    margin-top: 0.8em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.jobSkill,
.activitySkill {
    border: 1px solid #C6CFFF;
}

.eduSkill {
    border: 1px solid #4A6FA5;
}

.jobIcon,
.activityIcon,
.eduIcon {
    width: 100%;
}

.jobCompany,
.activityPosition,
.eduDegree {
    font-style: italic;
}

.jobList,
.courseworkList,
.eduList,
.activityList {
    list-style-type: circle;
}

.eduSubheader {
    font-weight: bold;
    color: #4A6FA5;
}

.date,
.location {
    font-weight: 300;
}

table {
    width: 100%;
}

th, td {
    padding: 0 15px;
    text-align: left;
    vertical-align: top;
}

.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    width: 90%;
}
  
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    font-weight: bold;
    font-size: 12px;
    color: #ffffff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
}
  
.skillbar-bar {
    height: 35px;
    width: 0px;
    border-radius: 3px;
    display: inline-block;
}
  
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

#downloadButton {
    background-color: #4A6FA5;
    color: #ffffff;
    text-align: center;
    padding: 14px 28px;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    width: 40%;
}

#downloadButton:hover {
    font-weight: bold;
    border: 2px;
}

@media (max-width: 800px) {
    img#aboutImage,
    img.jobIcon,
    img.eduIcon,
    h6.location,
    img.activityIcon {
        display: none;
    }
}
